<!DOCTYPE html>
<html ng-app="MBA">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gemalto | Market Basket</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <style>
        .animated-rings {
            margin-right: auto;
            margin-top: 20px;
        }

        .animated-ring {
            margin-left: 20px;
            margin-right: auto;
            margin-top: 20px;
            width: 47%;
        }

        .arc {
            opacity: 0.8;
        }

        .arc:hover {
            opacity: 1;
            transition: all .2s ease-in-out;
            /*  stroke: black;*/
        }

        .tick line {
            stroke: grey;
            stroke-opacity: 0.4;
            shape-rendering: crispEdges;
        }

        rect:hover {
            opacity: 0.8;
            stroke: white;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            width: 150px;
            height: auto;
            padding: 2px;
            font: 12px sans-serif;
            background: black;
            border: 0;
            border-radius: 8px;
            pointer-events: none;
            color: whitesmoke;
        }
    </style>

    <script src="../../dist/js/html5shiv.min.js"></script>
    <script src="../../dist/js/respond.min.js"></script>
    <script src="../../dist/js/d3.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="mbaController">
<div class="wrapper">

    <header class="main-header">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>Gemalto</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <!--<span class="label label-success">4</span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">

                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                           <!-- <span class="label label-warning">10</span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that
                                            may not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <!--<span class="label label-danger">9</span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                            <span class="hidden-xs">Role</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                                <p>
                                    Role
                                    <small><!--Member--> since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Details</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Accounts</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <!-- <a href="#">Friends</a>-->
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>

            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i
                            class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../../index.html"><i class="fa fa-circle-o"></i> Demo Product</a></li>
                    </ul>
                </li>

                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Analytics</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class=" treeview-menu">
                        <li><a href="clc.html"><i class="fa fa-circle-o"></i> Customer Segmentation</a></li>
                        <li><a href="cohort.html"><i class="fa fa-circle-o"></i> Cohort</a></li>
                        <li class="active"><a href="MarketBasket.html"><i class="fa fa-circle-o"></i> Market Basket</a></li>
                        <li><a href="survival.html"><i class="fa fa-circle-o"></i> Survival</a></li>
                        <li><a href="trail2Production.html"><i class="fa fa-circle-o"></i> Trial to Production</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Reports</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="../reports/entitlementReport.html"><i class="fa fa-circle-o"></i> Sales Report</a></li>
                        <li><a href="../reports/usageReports.html"><i class="fa fa-circle-o"></i> Usage Report</a></li>
                        <li><a href="../reports/activationReport.html"><i class="fa fa-circle-o"></i> Activity Report</a></li>
                    </ul>
                </li>
                <li><a href="documentation/index.html"><i class="fa fa-book"></i>
                    <span>User Machine Statistics</span></a></li>
                <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Hardware Statistics</span></a>
                </li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Product/Feature Recommendation
                <small>Engine</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"> Product/Feature Recommendation</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs pull-right">
                            <li class="active"><a href="#Product" data-toggle="tab">Product</a></li>
                            <li><a href="#Feature" data-toggle="tab">Feature</a></li>
                            <li class="pull-left header"><i class="fa fa-pie-chart"></i> Market Basket Analysis</li>
                        </ul>
                        <div class="tab-content no-padding">
                            <div class="chart tab-pane active" id="Product" style="position: relative; height: 100%;">
                                <div class="col-lg-12">&nbsp;</div>
                                <div class="col-lg-12">
                                    <div class="col-md-3" style="width: 19%"><label>Select Current Product :
                                        &nbsp;</label></div>
                                    <div class="col-md-4" style="display: inline;">

                                        <select ng-model="ddData.selectedID" ui-select2="">
                                            <option ng-repeat="item in mbaData" value="{{item.key}}">{{item.key}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group col-md-4" data-toggle="buttons" ng-hide="true">
                                        <label class="btn btn-success btn-sm" hidden>
                                            <input type="radio" name="mode" id="option1" autocomplete="off"
                                                   value="grouped" checked hidden> Grouped
                                        </label>
                                        <label class="btn btn-success btn-sm">
                                            <input type="radio" name="mode" id="option2" value="stacked"
                                                   autocomplete="off" hidden> Stacked
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="animated-ring col-md-6">
                                        <svg></svg>
                                    </div>
                                    <div class="col-md-6" style="width: 44%">
                                        <div id="bar-chart" style="width: 500px; height:400px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <table class="table  table-condensed">
                                            <tr>
                                                <th>Customer ID</th><th>Customer Name</th><th>Feature Name</th>
                                            </tr>
                                            <tr ng-repeat="trs in customerData | filter:searchTextP">
                                                <td>{{trs.ID}}</td>
                                                <td>{{trs.Customer}}</td>
                                                <td>{{trs.Feature}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <p><strong>Lift</strong> -> Measure of interestingness of any rule, higher the lift more interesting the rule. </p>
                                                <p><strong>Support</strong> -> Percentage of customer having selected product and feature. Ex 0.6370 means 63.70% </p>
                                                <p><strong> Confidence</strong> -> If a customer has a current product/feature what is the chances that he will user recommended feature/product. Ex 0.6370 means 63.70%.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="chart tab-pane" id="Feature" style="position: relative; height: 100%;">
                                <div class="col-lg-12"> &nbsp;</div>
                                <div class="col-lg-12">
                                    <div class="col-md-3" style="width: 19%"><label>Select Current Feature :
                                        &nbsp;</label></div>
                                    <div class="col-md-4" style="display: inline;">
                                        <select ng-model="ddDataFtr.selectedID" ui-select2="">
                                            <option ng-repeat="item in mbaDataFtr" value="{{item.key}}">{{item.key}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group col-md-4" data-toggle="buttons" ng-hide="true">
                                        <label class="btn btn-success btn-sm" hidden>
                                            <input type="radio" name="mode" id="option1" autocomplete="off"
                                                   value="grouped" checked hidden> Grouped
                                        </label>
                                        <label class="btn btn-success btn-sm">
                                            <input type="radio" name="mode" id="option2" value="stacked"
                                                   autocomplete="off" hidden> Stacked
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-md-6 animated-rings">
                                        <div class="animated-rings">
                                            <svg></svg>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width: 48%">
                                        <div id="bar-chartf" style="width: 500px; height:400px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <table class="table  table-condensed">
                                            <tr>
                                                <th>Customer ID</th><th>Customer Name</th><th>Product Name</th>
                                            </tr>
                                            <tr ng-repeat="trs in customerData | filter:searchText">
                                                <td>{{trs.ID}}</td>
                                                <td>{{trs.Customer}}</td>
                                                <td>{{trs.Product}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <p><strong>Lift</strong> -> Measure of interestingness of any rule, higher the lift more interesting the rule. </p>
                                                <p><strong>Support</strong> -> Percentage of customer having selected product and feature. Ex 0.6370 means 63.70% </p>
                                                <p><strong> Confidence</strong> -> If a customer has a current product/feature what is the chances that he will user recommended feature/product. Ex 0.6370 means 63.70%.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.nav-tabs-custom -->


                </section>
                <!-- /.Left col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="http://gemalto.com">Gemalto</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>
<script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
    /*$.widget.bridge('uibutton', $.ui.button);*/
</script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../dist/js/raphael-min.js"></script>
<script src="../../plugins/knob/jquery.knob.js"></script>
<script src="../../dist/js/moment.min.js"></script>
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/fastclick/fastclick.min.js"></script>
<script src="../../dist/js/app.min.js"></script>
<script src="../../dist/js/demo.js"></script>
<script src="../../angular/angular.min.js"></script>
<script src="../../dist/js/controllers/mbaController.js"></script>
</body>
</html>